# Игнорировать все файлы, который начинаются на yarn
yarn*.*

# Игнорировать все файлы в папке node_modules
node_modules

# Игнорировать все файлы в папке dist
dist

# Игнорировать все файлы в папке input
input

# Игнорировать все текстовые файлы
**/*.txt

# Игнорировать все .log файлы
**/*.log

# Игнорировать файлы .odt#
**/*.odt#
